:root{
    --turuncu: #ff5e00;
    --pembe:rgb(209, 18, 18);
    --yeşil: #10a01c;
    --mavi: #075192;
}

header{
    background-color: #075192;
    padding-top: 25px;
}

.gri-arkaplan{
    background-color: #eedddd;
}

#ana-menu{
    background-color: #075192;
}

li .nav-link{
    color: #fff;
}

.metin h2,h2{
    text-align: center;

}

h5,h2{
    color: #075192;
}

.ata-bayrak img{
 justify-content: center;
}

.baglanti{
    font-weight: bold ;
}

.baglantilar .list-group-item{
    background-color: #075192;
    color: #fff;
    font-size: large;
}


.baglantilar .list-group-item:hover{
    background-color: #ffffff;
    color: #00213d;
}

.slider-aciklama{
    background-color: #00213da6;
    color: #fff;
    padding: 10px;
}

.carousel-indicators [data-bs-target]{
    background-color: #00213db6;
    width: 30px;
    height: 5px;
    border: #ffffff solid 2px;
    padding: 5px;
}

.haber{
    background-color: var(--pembe);
    padding: 5px;
    
}

.haber h2,.duyuru h2,.islem h2{
    color: #fff;
    
    
}

.duyuru{
    background-color: var(--turuncu);
    padding: 5px;
}

.islem{
    background-color: var(--yeşil);
    padding: 5px;
}


.haberler .list-group-item:hover{
    color: var(--pembe);
}

.duyurular .list-group-item:hover{
    color: var(--turuncu);
}

.islemler .list-group-item:hover{
    color: var(--yeşil);
}

.devami{
    background-color: #075192;
    padding: 10px;
    margin: 10px;
    width: 95px;
}

.devami a{
    color: #fff;
    text-decoration: none;
}


.harita img{
    background-color: #aca8a8;
}
